@font-face {
    font-family: Product Sans;
    src: url(./fonts/ProductSans-Regular.ttf);
}
@font-face {
    font-family: Product Sans B;
    src: url(./fonts/ProductSans-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Product Sans ;
    color: white;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
}

nav{
    width: 100%;
    height: 3vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px;
    z-index: 99;
}
.logo{
    font-size: bold;
    font-size: 20px;
}
.center-nav{
    display: flex;
    gap: 5vw;
}
a{
    text-decoration: none;
}
i{
    font-size: 20px;
    color: white;
}

.one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(243, 142, 27); */
    background: linear-gradient(rgb(243, 142, 27), orangered);
}

.one h1{
    font-size: 25vw;
    font-family: Product Sans B;
}

#fanta{
    position: absolute;
    padding: 20px 0px;
    width: 18%;
    height: 80vh;
    margin-top: 50px;
    z-index: 2;
}

#slice{
   position: absolute;
   width: 15%;
   top: 10%;
   left: 32%;
   z-index: 1;
}

#oranges{
    position:absolute;
    width:18%;
    top:65%;
    right:32%;
    z-index:3
}

#leaf0{
    position: absolute;
    width: 12%;
    top: 65%;
    left: 82%;
    transform: rotate(-90deg);
}

#leaf1{
    position: absolute;
    transform: rotate(60deg);
    width: 15%;
    top: 10%;
    left: 2%;
}

#coconutLeaf{
    position: absolute;
    width: 15%;
    top: 10%;
    right: 0%;
}

.two{
    width: 100%;
    height: 100vh;
    background-color: #1F441E;
    display: flex;
}

.two .left-two, .right-two{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-two svg{
    width: 100%;
    margin-top: 50vh;

}

.right-two h2{
    font-size: 5vw;
}

.right-two p{
    padding: 20px 0;
    font-style: normal;
    font-size: 1.2vw;
    width: 80%;
    line-height: 1.5;
}

.three {
    width: 100%;
    height: 100vh;
    background-color: #F97A00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 60px;
}

.three .card1, .card2, .card3{
    width: 25%;
    height: 70vh;
    background: #fff;
    border-radius: 10px;
}

.three .card1, .card2, .card3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.three  h3{
    font-size: 2vw;
    color: #211f1f;
    padding: 20px;
}

#coca{
    width: 60%;
    z-index: 2;
}

#cocaSplash{
    position: absolute;
    width: 90%;
    top: 5%;
}

#sprite {
    width: 55%;
    z-index: 2;
}
.slice1{
   width: 46%;
   position: absolute;
   bottom:85%;
   z-index: 1;
}

